{{> menu}}

<main class="container-fluid d-flex flex-column align-items-center my-1">
   {{{createWelcomeMsg "Bienvenido al mercado WEB, seleccione sus productos"}}}  
   <section class="d-flex justify-content-center">
      {{> dashboard}}
   </section>
</main>

{{> modal}}